table {
    width: 100%;
    /* Makes the table use the full width of its container */
    border-collapse: collapse;
    /* Removes space between borders */
}

th,
td {
    border: 1px solid black;
    /* Adds borders to table cells */
    text-align: left;
    /* Aligns text to the left; adjust as needed */
    padding: 8px;
    /* Adds some padding inside cells for better readability */
}

th {
    background-color: #f2f2f2;
    /* Optional: background color for header cells */
}

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
    }
}

.description {
    margin: 10px 0;
    /* Adds margin space around the description */
    color: darkgrey;
    /* Sets the text color to dark grey */
    font-style: italic;
    /* Makes the text italic */
}